/*
** http://puskas.dk/eb/design/farver/
*/

/* Ekstra Bladets og EKSTRAs røde logo-farve. */
$red: #bd1118;

/* Nyheder */
$black: #000000;

/* Sport */
$green: #2f7820;

/* flash! */
$dark-red: #990000;

/* Forbrug (Herunder Ferie og Biler) */
$blue: #31769b;

/* Sex & Samliv */
$maroon : #8a0c36;

/* nationen! */
$orange: #e38121;

/* Bruger-relaterede elementer (login, Min side, etc) */
$light-blue: #36a9dd;

/* Breaking News */
$yellow: #ffff00;

/* LiveScore */
$light-green: #32a237;

/* Filmmagasinet */
$purple: #650188;

/* Hjemmehold */
$away: #BE0F0F;
$home: #005ABE;  
