<!DOCTYPE html>
html (lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  title transferquiz
  script(src="http://interactive.ekstrabladet.dk/helpers/bower_components/angular/angular.min.js")
  link(rel="icon" href="data:;base64,iVBORw0KGgo=")
  link(rel="stylesheet" href="app.min.css" media="screen" charset="utf-8")

body (ng-app="App" ng-controller="AppCtrl")
  div(class="out")
  questions(class="fistscreen")
  midscreen(class="midscreen")
  end(class="endscreen")
  script(src="app.min.js" charset="utf-8")
  script(src="//interactive.ekstrabladet.dk/helpers/js/client.js" charset="utf-8")
