/*
** Defualt article width is 610px
** Full width article is 920px
*/
html,
body {
  height: 510px;
  width: 100vw;
  font-family: $ekstra-font;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

section {
  max-width: 100vw;
  height: 510px;
}
.top {
  width: 100%;
  display: inline-block;
  padding: 15px;
}
.total {
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 19px;
  margin: 20px auto;
  font-weight: 800;
}
.total p:first-child {
  margin-top: 25px;
  position: relative;
  display: inline-block;
}
.total h3 {
  font-size: 75px;
  margin: -6px 0 -7px;
  font-weight: 900;
}
.page {
  float: left;
  padding: 5px;
  font-size: 25px;
  color: white;
}
.payofimg {
  position: absolute;
  z-index: 0;
}
.centerpoint {
  text-align: center;
  top: 365px;
  width: 100%;
  position: absolute;
}
.content {
  margin-top: 20px;
}
.pointsuccess {
  background-color: #32A237;
}
.pointfail {
  background-color: #BD1118;
}
.pointcenter {
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 55px;
}
.pointcenter p {
  display: block;
  margin-bottom: 0;
  font-size: 55px;
  font-weight: 900;
  margin-bottom: -4px;
}
.pointcenter p:last-child {
  font-size: 15px;
  font-weight: 800;
}
.text-point {
  text-align: center;
}
.plus {
  margin-right: -12px;
}
.pointcenter p:first-child {
  font-size: 55px;
  padding-top: 15px;
  letter-spacing: 0;
}
.scorecenter p {
  padding-top: 50px;
  font-size: 60px;
}
.point1 {
  padding: 5px;
  font-size: 15px;
  color: white;
  position: absolute;
  z-index: 5;
  right: 5px;
  margin-top: -8px;
}
.point {
  padding: 5px;
  font-size: 15px;
  color: white;
  z-index: 5;
  right: 5px;
  position: absolute;
}
.score {
  font-size: 35px;
  text-align: center;
}
.questions {
  top: 50px;
  width: 200px;
  margin: auto;
  display: block;
  margin: 0 auto;
}
.clue-container {
  text-align: center;
  left: 0;
  width: 100%;
  height: 220px;
  position: relative;
}
.clue-container p {
  width: 75px;
  display: block;
}
.clue-container img {
  border-radius: 0;
  height: 100px;
  width: 100px;
  opacity: 1;
}
.clue-container hr {
  position: relative;
  top: -65px;
  text-align: center;
  z-index: -20;
}
.holder {
  position: absolute;
  transform: translate3d(-50px,0,0);
  left: 50%;
  margin-top: 30px;
}
.cluebox {
  height: 80px;
  width: 50px;
  margin: 50px 0;
  transition: 1s linear;
  opacity: 0;
  position: absolute;
  left: 100vw;
  transform: scale(0.5);
  transition: 0.5s ease-in;
}
.active-clue {
  width: 75px;
  height: 75px;
  opacity: 1;
}
.clues {
  display: inline-block;
  top: 100px;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: solid white 2px;
  float: left;
}
.timer {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 17px;
}
.startscreen {
  text-align: center;
  width: 100vw;
  background-image: url(http://static.ekstrabladet.dk/redaktioneludvikling/data/graphics/2016/Fodboldlogos/background/transferday_bg-4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  text-align: center;
  height: 510px;
}
.startscreen h3 {
  margin-top: 300px;
  display: block;
}
.startscreen img {
  width: 100vw;
  margin: auto;
  max-width: 423px;
}
.start-text {
  color: white;
  background: rgba(05, 05, 05, 0.32);
  width: 80%;
  margin: auto;
  display: inline-block;
  div {
    padding: 10px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: left;
  }
}
.size {
  width: 80%;
  height: 21px;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  position: relative;
  z-index: -30;
}
.timer div {
  font-size: 15px;
  text-align: center;
  width: 24%;
  line-height: 25px;
  padding: 2px 4px;
  margin: -5px;
  display: inline-block;
  color: #8A8A8A;
  border-left: dotted #8A8A8A 2px;
  z-index: 20;
  position: relative;
}
.timer div:nth-child(4) {
  color: #8A8A8A;
  border-right: none;
}
.timer div:first-child {
  border-left: none;
}
#progressbar {
  background-color: #F5A623!important;
  height: 25px;
  overflow: hidden;
  top: -24px;
  opacity: 0.7;
  padding: 2px 1px;
  position: relative;
  float: left;
  margin: 0 12px 0 3px;
  left: -3px;
  transition: 0.1s linear;
}
.opt {
  text-align: center;
  width: 100vw;
}
.options {
  width: 100%;
  display: inline-block;
  background-color: #4FA8DF;
  color: white;
  text-align: center;
  width: 80%;
  margin: 10px;
  font-size: 15px;
  padding: 10px 0px;
  cursor: pointer;
}
.retry {
  width: 80%;
  height: 50px;
  background-color: #4FA8DF;
  display: inline-block;
  margin-top: 20px;
}
.retry p {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}
.nav {
  max-width: 100vw;
  display: inline-block;
}
.nametag {
  text-align: center;
  top: 89%;
  position: absolute;
  width: 100%;
  background: rgba(05, 05, 05, 0.32);
  color: white;
  font-size: 15px;
  padding: 20px 0;
  font-weight: 600;
}
.midtscreen {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.midtscreen .prev {
  top: 90%;
  left: 20px;
}
.next {
  top: 90%;
  right: 20px;
}
#firstscreen {
  position: absolute;
  left: 0;
  height: 510px;
  background-image: url(http://static.ekstrabladet.dk/redaktioneludvikling/data/graphics/2016/Fodboldlogos/background/transferday_bg-4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  opacity: 1;
  z-index: 2;
}
#secondscreen {
  width: 100vw;
  position: absolute;
  z-index: 3;
  opacity: 1;
}
#endscreen {
  position: absolute;
  background-image: url(http://static.ekstrabladet.dk/redaktioneludvikling/data/graphics/2016/Fodboldlogos/background/transferday_bg-4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  opacity: 1;
  .end {
    text-align: center;
    margin-top: 70px;
  }
  .text-box {
    background: rgba(05, 05, 05, 0.32);
    width: 80%;
    display: inline-block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    div {
      padding: 10px;
    }
    h2 {
      font-size: 19px;
      margin: 0 5px 10px;
    }
    p {
      margin: 0 5px;
    }
  }
}
.mid {
  height: 510px;
  background-size: cover;
}
.midbg {
  height: 510px;
  width: 100vw;
  background-size: cover;
}
.elm {
  height: 510px;
  width: 100vw;
}
.cluetag {
  padding: 2px;
  border-radius: 0 0 0 0;
  font-size: 15px;
  transition: 0s;
  text-align: center;
  position: relative;
  display: block;
  word-wrap: break-word;
  min-height: 10px;
  color: white;
  width: 120px;
  font-weight: 900;
  transform: translate3d(-10px,0,0);
}
.cluetag p {
  width: auto;
}

.clue-mid {
  transform: scale(1);
  left: 0;
  opacity: 1;
  top: -10px;
  transition: 0.5s ease-out;
}
.clue-start{
  opacity:0;
}
.clue-end {
  left: -155px;
  position: absolute;
  transform: scale(0.7);
  opacity: 1;
  transition: 0.5s ease-in;
}
.clue-end-1 {
  left: -80px;
  transform: scale(0.7);
  opacity: 1;
  top: -0px;
  transition: 0.5s ease-in;
}
.clue-leave {
  left: -500px;
  transform: scale(0.3);
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in;
}
.preview {
  transition: 1s ease-in;
  left: 1000px;
  position: absolute;
  opacity: 0;
}
.in-view {
  transition: 1s;
  left: 0;
  opacity: 1;
  position: absolute;
  z-index: 200;
}
.out-view {
  transition: 1s ease-in;
  left: -1000px;
  opacity: 0;
  position: absolute;
}
.ng-show-add {
  -webkit-animation: 0.5s ease;
  animation: 0.5s ease;
}
/* when showing the thing */
.ng-show-remove {
  -webkit-animation: 0.5s ease;
  animation: 0.5s ease;
}
