@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
$ekstra-font: "Titillium Web", sans-serif;
p,h2 {
    font-size: 15px;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    margin: 0 ;


}
.payoffimg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
#text-block{
    display: inline-block;
    line-height: 1em;
    padding:10px;
    margin: 0;

}
.cols{
  width:33%;
  float:left;
}
.counter{
  width: 33%;
  display: inline-block;
  position: fixed;
  float:right;
  text-align: right;
  right: 0;

  span{
    font-size:15px;
  }
}
.final{
  position: relative;
  top: 30px;
  font-size: 20px;
}
.sprgtxt{
  top: 172px;
  line-height: 1;
  position: relative;
  height: 49px;
  color: white !important;
  padding-top: 2px;
  cursor:default;
  text-align: center;
  font-size: 15px;
  background-color: rgba(130, 130, 130, 1);
  width: 100%;
  height:23px;
  }
img {
    margin: 3px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body {
    line-height: 0;
    background-color: white;
    font-family: "Titillium Web", sans-serif;
}
/* .frame{
    height:551px;
    overflow:hidden;
 }*/
header {
    h2 {
        color: white;
        font-size: 25px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin:10px;
        padding: 0;

    }
}
header h2:first-child {
    float: left;
}

#quiz {
    display: block;
}
.questphoto {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin: auto;
    p {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    img {
        margin: 0;
    }
}
.taeller {
    text-align: center;
    width: 100%;
    color: red;
    position: relative;
    height: 2em;
    top: 20px;
    z-index: 2000;
    p {
        text-align: center;
        width: 100%;
        position: absolute;
        color: white;
    }
}
.payoff{
  margin-left:auto;
  margin-right:auto;
  max-width:280px;
}
.payofflist{
  display:inline-block;
  float: left;

}
.startknap {
    top: 500px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.foto {
    overflow: hidden;
    background: white;
    height: 106px;
    height: 106px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.startskab {
    top: 20px;
    height: 50px;
    img {
        margin-bottom: 20px;
    }
}
.start {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 200;
    background-color: white;
    display: none;
}
.klar {
    top: 305px;
    position: relative;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.retry {
    z-index: 50;
    top: 0;
    position: relative;
    text-align: center;
    width: 280px;
    margin: 10px 0 20px 0;
    display: inline-block;
}
.fintext{
  font-size:15px;
}
#photo {
    height: 110px;
    width: 110px;
    img {
        position: absolute;
        clip: rect(0px,500px,100px,0px);
    }
}
.photoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
#valg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 20;
    overflow: hidden;

}
.correctoverlay {
  background-color:rgba(0,255,50,0.4);
    position: relative;
    color:white;
}
.wrongoverlay {
    background-color: rgba(255, 0, 0, 0.5);;
    position: relative;
    color:white;
}
#valg p {
    color: black;
}
#valg h3 {
    display: none;
    padding-top: 5px;
    position: absolute;
}
#valg span {
    color: #E2E2E2;
    font-size: 60px;
}
#img-cont{
  text-align: center;
  overflow:hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  margin-left:4px;
}
.name {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
}
.name div {
    height: 70px;
    width: 70px;
    float: left;
}
.name p {
  font-size: 10px;
  width: 70px;
  color: white;
  margin-right: auto;
  margin-left: auto;
  line-height: !important 1.5;
  position: relative;
  top: 46px;
  padding: 2px;

}
.name img {
    float: left;
    width: 70px;
    height: 70px;
}
#scoreboard {
    background: #3c3c3c;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: 90;
    display: inline-block;

    span p {
        line-height: 25px;
        color: white;
        line-height: 25px;
        color: white;
        width: 280px;
        margin: auto;
    }
    #count {
        font-size: 30px;
        color: white;
        padding: 10px 0 10px 0;
    }
    #msg{
      padding:20px 0 0 0 ;
    }
}
.successornot {
  width: 100%;
  position: relative;
  top: -1px;
  left: 0;


}
#success {
    font-size: 50px;
    transition: opacity 0.5s ease-out;
    vertical-align: middle;
    background-color:rgba(0,255,50,0.4);
    width: 100%;
    height: 96px;
    color:white;
    padding-top: 20px;

    }
#fail {
    font-size: 50px;
    transition: opacity 0.5s ease-out;
    vertical-align: middle;
    background-color:rgba(255,0,0,0.4);
    width: 100%;
    height: 96px;
    color:white;
    padding-top: 20px;

}

#tryagain {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    display: inline;
    top: -200px;
}

.logo {
    opacity: 1;
    position: absolute;
    width: 100px;
    top: 0;
    cursor: pointer;
}
.glyphicon-ok {
    position: inherit;
    opacity: 0;
    display: none;
}
.glyphicon-remove {
    position: relative;
    opacity: 0;
    display: none;
}
.baggrund {
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    top: 20px;
}
.svar {
    color: white;
    font-size: 13px;
    line-height: 1em;
    margin: 1px;
    height: calc(width/2);
    overflow: hidden;
    padding-left: 0;
    padding-top: 5px;
    width: 33%;
    margin-right: auto;
    margin-left: auto;
    h2 {
        cursor:pointer;
        position: absolute;
        text-align: center;
        font-size: 15px;
        top: 60px;
        background-color: #E2E2E2;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
																not supported by any browser */
    }
    p {
        background-color: gray;
        position: absolute;
        text-align: center;
        width: 100px;
        top: -2px;
        font-size: 10px;
    }
}
.description {
    top: 275px;
    padding: 5px;
    margin: 0;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
}
.area {}
.photoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.drag-object,
[ng-drag-clone],
[ng-drop] [ng-drag] {}
[ng-drag] {}
[ng-drag].drag-over {}
[ng-drag].dragging {
    opacity: 0.5;
}
[ng-drop] {
    display: block;
    position: relative;
    text-align: center;
}
[ng-drop].drag-enter {
    opacity: 0.5;
}
[ng-drop] span.title {
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -100px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 200px;
}
[ng-drop] div {
    text-align: left;
    position: relative;
    z-index: 2;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 4px;
    padding-left: 0;
    margin: -1px;
}
@media (min-width: 300px) {
    #photo {
        padding: 4px;
    }
    .taeller p {
        text-align: center;
        width: 100%;
        position: absolute;
        color: white;
    }
    #valg {
            float: left;
        display: inline-grid;
        width: 100%;
        z-index: 20;
        padding-bottom: 5px;
    }
    .foto {
        overflow: hidden;
        background: white;
        height: 106px;
        height: 144px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo{
      width: 100%;
    }
    .svar {
        color: white;
        font-size: 13px;
        line-height: 1em;
        margin: 1px;
        height: 100px;
        overflow: hidden;
        padding-left: 5px;
        padding-top: 5px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .svar h2 {
        position: absolute;
        text-align: center;
        font-size: 15px;
        top: 60px;
        background-color: rgba(130, 130, 130, 0.8);
        width: 100%;
    }
}
/* iPhone 5 */

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3)
{

}
@media only screen and (min-width: 600px) {
    .svar {
        width: 100%;
        height: 195px;
        h2 {
            top: 155px;
            width: 100%;
        }
    }
    .svar:hover {
        h2 {
            color: white;
        }
    }
    .logo {
        height: 195px;
        width: 100%;
    }
    .questphoto {
        width: 100%;
        height: 195px;
        #photo {
            width: 100%;
            height: 195px;
            padding: 2px 0;
            margin: 2px 5px;
        }
    }
    .successornot {

    }
    #success {
        vertical-align: middle;
        width: 100%;
        height: 191px;
        padding-top:65px;
       }
    #fail{
      vertical-align: middle;
      width: 100%;
      height: 191px;
      padding-top:65px;
    }
    .payoff{
      max-width:350px;
    }
    .retry{
      width:350px;
    }
    #scoreboard span p{
      width:350px;
    }
}
@media (max-width:600px) {
  header {
      h2 {
        font-size:17px;
      }
    }
    .counter span{
      font-size:14px;
    }
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  {
    .name div {
      height: 100px;
      width: 100px;
      float: left;
  }
  .payoff {
    max-width: 500px;
  }
  .name p {
    font-size: 15px;
    width: 70px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    line-height: !important 1.5;
    position: relative;
    top: 64px;
    padding: 2px;
}
.svar h2 {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 60px;
    background-color: rgba(130, 130, 130, 0.8);
    width: 100%;
    padding: 5px;
    margin-top: -10px;
}
.questphoto p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    height: 32px;
    margin-top: -10px;
}
}
