/*
** https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
@media (max-width: 768px){
  .postkort{
  margin: 0px;
  padding: 0px;
  }
}

@media (max-width: 980px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
  }
}
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 680px) and (-webkit-min-device-pixel-ratio: 2) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
  .fblogoleft {
      height: 76px;
      font-size: 14px;
      line-height: 17px;
  }
  .fblogoleft {
      text-align: right;
      background-color: #3a5998;
      padding: 17px 0 18px;
      text-align: center;
      vertical-align: bottom;
      margin-bottom: 0;
  }
  .fblogoleft p {
    margin-top: 5px;
    margin: 10px;
}
.fblogoright {
    padding: 14px;
    height: 76px;
    padding-top: 28px;
    font-size: 13px;
    text-align: right;
    background-color: #d7e0eb;
    padding: 28px 0 17px;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0;
}
  blockquote{
    max-width:100%;
  }
  .cover-title {
    top: 55vh;
    font-size: 2.3 em!important;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    position: absolute;
    z-index: 200;
  }
  .headers {
    font-size: 30px;
  }
  .text-bits {
    margin-bottom: 80px;
    padding: 10px 30px;
}
.miniright{
  width: 123%;
  left: 30px;
  position: relative}
.minileft{
  width: 123%;
  margin-left: -30px;
  .credit{
    margin-top: -2px;
  }
}
.minicredit{
  margin-right: 20px;

}
.photo{
  background-position-x: -200px;

}
.postkort{
  margin: 0px;
  padding: 0px;
}
}
@media (max-width: 400px){
  .fblogoleft p {
        margin-top: 0px !important;
}}
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .mp4{
    display:block;
  }
  .flash{
    display:none;
  }
}
